.k {
    color: #bf9dff;
}

.i {
    color: #fff;
}

.s {
    color: #83e0a7;
}

.n {
    color: rgb(79, 182, 182);
}

.b {
    color: rgb(245, 239, 159);
}

.p {
    color: #ecb266;
}

head, body {
    background-color: rgb(218, 218, 218);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(34, 34, 34);
    margin: 20px;
}

p {
    margin-inline: 5px;
    margin-block: 20px;
}

h1 {
    font-size: 35pt;
    font-weight: 700;
}

code {
    color: #c3e1e9;
    background-color: rgb(44, 44, 50);
    font: normal 13px/20px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    width: 30%;
}